%html
  %body
    %h1= "Hello, #{@user.full_name}!"
    %p You notified us that you forgot your password. To reset it, please click the link below.
    = link_to 'Reset Password', reset_password_url(@user.token)